# ignore x64 file
x64

# ignore test file
test

# ignore all .vs files
*.vs

# ignore all .user files
*.user

# ignore folder created by doxygen
Doxyfile

# ignore .cache folder created by clang
.cache
