# ignore x64 file
x64

# ignore all .vs files
*.vs

# ignore all .user files
*.user

# ignore .cache files created by clang
.cache

# ignore Visual Studio solution file
*.sln

# ignore folder created by doxygen
Doxyfile

# ignore build folder
build