# ignore SecretService file that was created by Visual Studio
SecretService

# ignore x64 file
x64

# ignore all .vs files
*.vs

# ignore all .sln files
*.sln

# ignore all .vcxproj files
*.vcxproj

# ignore all .filters files
*.filters

# ignore all .user files
*.user